@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Raleway', sans-serif;
}


.bottom-img {
    background-image: url('https://i.ibb.co/5BygSP1/Home-page-bottom-image-1.jpg');
}

.Slider-img-1 {
    background-image: url('https://i.ibb.co/mBNJFDF/slider-image-2.jpg');
}

.Slider-img-2 {
    background-image: url('https://i.ibb.co/VYNd6jb/slider-image-4-1.jpg');
}



.dark-theme {
    background-color: rgb(14, 13, 13);
    color: rgb(112, 117, 122);

}


.light-theme {

    background-color: #f3f0f0;


}